@font-face {
    font-family: 'Noto Naskh Arabic';
    src: url('NotoNaskhArabic-Bold.eot');
    src: url('NotoNaskhArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('NotoNaskhArabic-Bold.woff2') format('woff2'),
        url('NotoNaskhArabic-Bold.woff') format('woff'),
        url('NotoNaskhArabic-Bold.ttf') format('truetype'),
        url('NotoNaskhArabic-Bold.svg#NotoNaskhArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Naskh Arabic';
    src: url('NotoNaskhArabic.eot');
    src: url('NotoNaskhArabic.eot?#iefix') format('embedded-opentype'),
        url('NotoNaskhArabic.woff2') format('woff2'),
        url('NotoNaskhArabic.woff') format('woff'),
        url('NotoNaskhArabic.ttf') format('truetype'),
        url('NotoNaskhArabic.svg#NotoNaskhArabic') format('svg');
    font-weight: normal;
    font-style: normal;
}

